@page "/home"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "administrator,user")]

<PageTitle>Home</PageTitle>

<div class="main">
    <div class="addPostContainer">
        <div class="homePageTitle">BLOG POST</div>
        <button class="btn btn-primary" @onclick="NewPost">New Post
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 5 72 72">
                <path fill=currentColor d="M36,12c13.255,0,24,10.745,24,24c0,13.255-10.745,24-24,24S12,49.255,12,36C12,22.745,22.745,12,36,12z M44,39	c1.657,0,3-1.343,3-3c0-1.657-1.343-3-3-3c-0.329,0-2.426,0-5,0c0-2.574,0-4.672,0-5c0-1.657-1.343-3-3-3c-1.657,0-3,1.343-3,3	c0,0.328,0,2.426,0,5c-2.574,0-4.671,0-5,0c-1.657,0-3,1.343-3,3c0,1.657,1.343,3,3,3c0.329,0,2.426,0,5,0c0,2.574,0,4.672,0,5	c0,1.657,1.343,3,3,3c1.657,0,3-1.343,3-3c0-0.328,0-2.426,0-5C41.574,39,43.671,39,44,39z"></path>
            </svg>
        </button>
    </div>

    @foreach (Post post in posts)
    {
        <br />
        <div class="postHover" @onclick="() => Post(post.KeyID)">
            <h2>@post.Title</h2>
            <i>@post.Author wrote:</i><br />
            @* @post.Body<br /> *@
            @if (post.Body.Length < 128)
            {
                @post.Body<br />
            } else {
                int i;
                char space = post.Body[127];
                for (i = 127; space != ' '; i++)
                {
                    space = post.Body[i];
                }
                string body = post.Body.Substring(0, i) + "...";
                @body<br />
            }
            <i class="small">@post.Created UTC</i><br />
        </div>
        <br />
    }
</div>
<br />



@code 
{
    [Inject]
    IPostService postService { get; set; }
    
    [Inject]
    NavigationManager nav { get; set; }

    @* [Inject]
    ILogger<Home> log { get; set; } *@

    private List<Post> posts;

    protected override void OnInitialized() {
        posts = postService.ListTitles();
    }

    private void Post(int id)
    {
        nav.NavigateTo("/post/" + id);
        // log.LogInformation(postID.ToString());
    }

    private void NewPost()
    {
        nav.NavigateTo("/new");
    }

}